body {
    padding-top: 60px;
    padding-bottom: 40px;
    height:1000px;
}

#placeholder div {
    text-align: center;
}

#placeholder i {
    padding: 3px;
}

#placeholder p {
    margin: 20px 0 0 0;
    opacity: 0.8;    
}

#queues {
    opacity:0;
}

#queues h2 {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #e3e3e3;

    margin: 0px -20px 0px -20px;
    padding: 0px 0px 20px 20px;
}

#queues .queue-group {

}

#queues .queue {
    height:350px;
}

#queues .job-list {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;    
}

#queues .job {
    padding: 2px 0;
}

#queues .job a {
    padding: 3px 0;
    color: #333;
    text-decoration: none;
}

#queues .job .travis-ci-link {
    opacity:0.8;
}

#queues .job:hover a {

}